body {
    background-color: #232323;

    font-family: 'Courier New', Courier, monospace;

    margin: 0;
}

.square {
  width: 30%;
  background-color: purple;

  border-radius: 15%;
  padding-bottom: 30%;
  margin: 1.66%;

  float: left;

  transition: background 0.6s;
  --webkit-transition: background 0.6s;
  --moz-transition: background 0.6s;
}

.container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  line-height: 1.1;
  
  color:white;
  background-color: steelblue;

  font-weight: normal;

  margin: 0;

  padding: 20px 0;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
  
}

.selected {
  background-color: blue;
}

button {
  border: none;
  height: 100%;

  background: none;
  outline: none;
  
  text-transform: uppercase;
  font-weight: 700;
  color:steelblue;
  letter-spacing: 1px;
  font-size: inherit;

  transition: all 0.3s;
  --webkit-transition: all 0.6s;
  --moz-transition: all 0.6s;
}

button:hover {
  color: white;
  background-color: steelblue;

  cursor: pointer;
}