.Pokedex {
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-win {
    color: #4caf50;
}

.Pokedex-lose {
    color: #e91e63;
}